<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="MedicareAutomation">
		<classes>
			<class name="medRunner.runnerAdmin"></class>
			<class name="medRunner.runnerUser"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
